body {
  background-color:rgb(253, 247, 222);
  text-align: center;
}
.responsive {
  width: 80%;
  height: auto;
  
}
he {
  font-weight: 200;
  font-size: xx-large;
  font-family:Calibri;
  font-style: bold;
}
a{
  color: rgba(0, 0, 0, 0.884);
  font-family:Calibri;
  font-size:x-large;
  text-align: left;
}
z {
  color: b;
  font-family:Calibri;
  font-size:x-large;
  text-align: center;
  ;
}
.des {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: large;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  color: rgba(0, 0, 0, 0.884);
  font-family:Calibri;
  font-size:x-large;
  text-align: left;
}

th, td {
  text-align: left;
  padding: 10px;
}
.head{
  width: 10%;
  height: 10%;

 
}