body {
  background-color:rgb(253, 247, 222);
  text-align: center;
}
.responsive {
  width: 80%;
  height: auto;
  
}
he {
  font-weight: 200;
  font-size: xx-large;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: bold;
}
a{
  color: rgba(0, 0, 0, 0.884);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size:x-large;
  text-align: left;
}
z {
  color: b;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size:x-large;
  text-align: center;
  ;
}
.des {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: large;
}
th, td {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: x-large;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  align-items: center;
}
.head{
  width: 10%;
  height: 10%;
  vertical-align: top;
  align-items: flex-start;
 
}