body {
    background-color:rgb(253, 247, 222);
    text-align: center;
  }
  .responsive {
    width: 80%;
    height: auto;
    
  }
  he {
    font-weight: 200;
    font-size: xxx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: right;
  }
  a{
    color: rgba(0, 0, 0, 0.884);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:xx-large;
    text-align: left;
  }
  z {
    color: b;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:xx-large;
    text-align: center;
    ;
  }
  .des {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  th, td {
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: xx-large;
    font-family:Cambria
  }
.head{
    width: 10%;
    height: 10%;
    vertical-align: top;
    align-items: flex-start;
   
}