* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: #ffffff;
}

h1{
    animation: color-changing 3s both ease-in-out infinite;
}

body {
    background: linear-gradient(to bottom left,rgb(39, 127, 199),#0c3150 ,#004f8f,#000000);
    background-color: #004f8f;
    overflow-x: hidden;
    position: relative;
}

p {
    font-size: 1.5em;
    padding: 3%;
}

p.abs{
    animation: color-changing2 both .2s ease-in-out infinite;
}

.head {
    display: flex;
    position: sticky;
    z-index: 1;
    top: 0;
    width: min-content;
    border-radius: 2em;
    overflow: hidden;
}

#logo {
    height: 13vh;
    width: 17vw;
    max-width: 700px;
    min-width: 250px;
    
}

.games,
.cuz,
.ous {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tgs,
.mu,
.gca {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: radial-gradient(#b455fcbd, #340b87c5);
    /* background: radial-gradient(#021635 30%, #004f8f 70%); */
    border: 1px black solid;
    transition: .8s;
    z-index: 0;
    margin: 1em 0;
    padding: 1em;
    width: fit-content;
    height: fit-content;
    /* background: #015958; */
    overflow: hidden;
    /* position: relative; */
    border-radius: 2em;
}

.tgs img,
.mu img,
.gca img {
    height: 30%;
    width: 69%;
    border-radius: 1em;
}

.tgs:hover,
.mu:hover,
.gca:hover {
    box-shadow: 0 0 1em #4faff3b8;
    transform: scale(1.01) translateX(-1em) translateY(-1em);
    transition: .8s;
}

/* .tgs::before,
.mu::before,
.gca::before {
    width: fit-content;
    background: #000;
    position: absolute;
} */
footer {
    display: flex;
    text-transform: capitalize;
    justify-content: space-evenly;
    margin: 0;
    background: #00000086;
    border: 1px rgba(255, 255, 255, 0.589) solid;
    border-radius: 1em;
    font-size: 1.5em;
    padding: .6em;
}

a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}

@keyframes color-changing {
    0%{
        color: #f5babaf1;
    }
    25%{
        color: rgba(108, 182, 247, 0.81);
    }
    50%{
        color: antiquewhite;
    }
    75%{
        color: burlywood;
    }
    100%{
        color: rgba(180, 255, 180, 0.856);
    }
}

/* @keyframes color-changing2 {
    33%{
        background: -webkit-linear-gradient(to bottom right #ff8383c9, hwb(338 2% 30% / 0.827),rgba(125, 5, 93, 0.789));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    66%{
        background: -webkit-linear-gradient(to bottom right rgba(125, 5, 93, 0.789), #ff8383c9, hwb(338 2% 30% / 0.827));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    99%{
        background: -webkit-linear-gradient( to bottom right hwb(338 2% 30% / 0.827),rgba(125, 5, 93, 0.789),#ff8383c9);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
} */